
nav{
  background-color: yellow;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;

 }
 div.other{
  border:black 1px dashed;
  background-color: #6495ed;
  position: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  width:600px;
 }
 span{
  font-weight: 900;
 }
 td.lp{
  width: 100%;
 }
table,td{
  border: 1px solid black;
    border-collapse: collapse;
  }
table{
  width: 100%;
}
  .time{
    font-style: italic;
    font-weight: bold;
  }
  .myLink{
    color:red;
  }
  .images{
    width:100%;
  }
  th{
    border: 1px solid black;
    border-collapse: collapse;
    background-color:#660033;
    font-weight: bold;

  }
  div.Div{
    border:white 1px dashed; 
    width:300px;
    overflow: hidden;
    position: center;
    margin-left: 450px;
  }
  div.images{
    background-color:white;
  position: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  width:600px;
  }
  .Event{
    width:900px;
    text-align:center;
  }
#map{
  height: 100%;
}
